    body{
        background-color: lightblue;
    }
    .article-card{
        width: 100%;
        margin: auto;
        background-color: white;
        min-height: 40rem;
    }
    h1 {

        text-align: center;
    
    }

    h2 {

        text-align: center;

    }

    #name {
        width: 15rem;
    }

    #email {
        width: 15rem;
    }

    #age {
        width: 15rem;
    }